.pag-contato {
  width: 100vw;
  height: 100vh;
  background-color: #22282f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 550px;
}

.btn-form {
  height: 30px;
  width: 200px;
  border-radius: 15px;
  border-style: none;
  background-color: #f7414e;
  color: white;
  margin-top: 20px;
}

.btn-form:hover {
  background-color: white;
  color: #f7414e;
}

@media screen and (max-width: 699px) {
  .form-name-email {
    display: block;
  }

  .textarea-form {
    width: 80vw;
    height: 100px;
    border-radius: 10px;
  }

  .size-form {
    width: 90vw;
    display: flex;
    flex-direction: column;
  }
  .titulo-pag-contato {
    color: white;
    text-align: center;
    margin-bottom: 40px;
  }

}

@media screen and (min-width: 700px) {
  .form-name-email {
    display: flex;
  }

  .textarea-form {
    width: 420px;
    height: 100px;
    border-radius: 10px;
  }

  .size-form {
    width: 470px;
  }

  .titulo-pag-contato {
    color: white;
    text-align: start;
    margin-left: 20px;
    margin-bottom: 40px;
  }
}