* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-bg-principal {
  background-image: url('../imgs/bg.webp');
  background-color: #22282F;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.container-conteudo-principal {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.conteudo-principal {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  width: 100vw;
  flex-wrap: wrap;
  overflow-y: hidden;
}

.apresentacao {
  font-size: x-large;
  color: #FAFCED;
}

.nome {
  font-size: 90px;
  color: #FAFCED;
}

.subtitulo {
  color: #FAFCED;
  margin-top: 15px;
  margin-bottom: 5px;
}

.buttons {
  margin-top: 8px;
  display: flex;
}

.button-linkedin {
  border-style: none;
  border-radius: 7px;
  margin-top: 1vh;
  width: 100px;
  height: 30px;
  background-color: #0D52B8;
  color: white;
}

.button {
  border-style: none;
  border-radius: 7px;
  margin-top: 1vh;
  margin-left: 1vw;
  width: 100px;
  height: 30px;
  background-color: #0D52B8;
  color: white;
}

.button:hover, .button-linkedin:hover {
  background-color: white;
  color: #0D52B8;
}

.navbar-custom {
  width: 33vw;
  border-radius: 20px;
  margin-bottom: 50px;
  background-color: #0D52B8;
  color: white;
  margin-left: 33.5vw;
  font-size: 0.9vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: 50px;
  opacity: 0.9;
}

.link-nav {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}

.link-nav:hover {
  text-decoration: none;
  color: white;
  opacity: 1;
}


.astro-container {
  display: flex;
  align-items: center;
  align-content: center;
  margin-right: 3rem;
}

@media screen and (max-width: 1600px) and (min-width: 1075px){
  .nome {
    font-size: 75px;
    color: #FAFCED;
  }
  .astro-img {
    height: 300px;
  }
  .navbar-custom {
    width: 50vw;
    height: 50px;
    font-size: 1.4vw;
    margin-left: 25vw;
  }
}

@media screen and (max-width: 1074px) and (min-width: 812px){
  .nome {
    font-size: 68px;
    color: #FAFCED;
  }
  .astro-img {
    height: 200px;
  }
  .navbar-custom {
    width: 50vw;
    height: 50px;
    font-size: 1.4vw;
    margin-left: 25vw;
  }
}

@media screen and (max-width: 811px) and (min-width: 532px){
  .nome {
    font-size: 68px;
    color: #FAFCED;
  }
  .astro-container {
    display: none;
  }
  .navbar-custom {
    width: 80vw;
    height: 50px;
    font-size: 1.8vw;
    margin-left: 10vw;
  }
  .conteudo-principal {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

@media screen and (max-width: 531px) {
  .nome {
    font-size: 50px;
    color: #FAFCED;
  }
  .astro-container {
    display: none;
  }
  .navbar-custom {
    width: 80vw;
    height: 50px;
    font-size: 2.5vw;
    margin-left: 10vw;
  }
  .conteudo-principal {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

