* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pag-3 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #22282F;
}

.titulo-carrousel {
  text-align:start;
  margin-left: 21%;
  margin-bottom: 5vh;
  color: white;
  text-decoration: underline;
  text-decoration-color: #0D52B8;
  text-underline-position: under;
}

.container-projects {
  height: 70vh;
  width: 70vw;
  margin-left: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-card {
  height: 250px;
  width: 350px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
  border-radius: 12px;
  background-color: #2D343F;
  color: white;
}

.item-card img {
  height: 22vh;
  border-radius: 12px;
  pointer-events: none;
}

.title-card-projects {
  text-align: center;
}

.buttons-project {
  display: flex;
  justify-content: center;
}

.button-project {
  border: none;
  height: 30px;
  width: 100px;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #0D52B8;
  color: white;
  border-radius: 12px;
}

.button-project:hover {
  background-color: white;
  color: #0D52B8;
}
