* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pag-3 {
  height: 100vh;
  width: 100vw;
  background-color: #22282F;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titulo-pag3 {
  text-align: center;
  margin: 10vh 0vh 5vh;
  color: white;
  text-decoration: underline;
  text-decoration-color: #0D52B8;
  text-underline-position: under;
}

.container-projects {
  height: 50vh;
  width: 30vw;
  justify-content: center;
}

.description-card {
  font-size: small;
  margin: 10px 0px 20px;
  color: white;
}

.button-previl {
  margin-right: 1vh;
}

.button-project:hover {
  background-color: white;
  color: #0D52B8;
}

.card-project {
  margin-left: 22.3vw;
}
